<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>登录页面</title>
  <script src="/static/login.js" type="text/javascript"></script>
</head>
<body>
<h2>自定义登录页面</h2>
<form action="/user/login" method="post">
  <table>
    <tr>
      <td>用户名：</td>
      <td><input type="text" name="userName"></td>
    </tr>
    <tr>
      <td>密码：</td>
      <td><input type="password" name="password"></td>
      <td><input type="checkbox" name="remember" value="1"/>自动登录</td>
    </tr>

    <tr>
      <td colspan="2"><button type="submit">登录</button></td>
    </tr>
  </table>
</form>
</body>
</html>